<!-- ngModel -->
<div class="mt-1" style="border: 1px black solid;">
  <h1>reserve-Form---ngModel</h1>
  <ul>
    <li>Name: <input [(ngModel)]="reserveInfo.name" type="text"></li>
    <li>
      Gender:
      <input [(ngModel)]="reserveInfo.gender" type="radio" value="1" name="gender" id="male">
      <label for="male">Male</label>
      <input [(ngModel)]="reserveInfo.gender" type="radio" value="2" name="gender" id="female">
      <label for="female">Female</label>
    </li>
    <li>PWD: <input [(ngModel)]="reserveInfo.password" type="password"></li>
    <li>Mail: <input [(ngModel)]="reserveInfo.email" type="text"></li>
    <li>
      City:
      <select [(ngModel)]="reserveInfo.city" name="" id="">
        <option *ngFor="let city of cityList" [value]="city">{{city}}</option>
      </select>
    </li>
    <li>
      Hobby:
      <span *ngFor="let hobby of reserveInfo.hobbies">
        <input [(ngModel)]="hobby.checked" [id]="hobby.key" type="checkbox" [value]="hobby.value" [name]="hobby.key">
        <label [for]="hobby.key">{{hobby.value}}</label>
      </span>
    </li>
  </ul>
  <button (click)="ngModelSubmit()">ngModelSubmit</button>
  <br>
  <pre>{{reserveInfo | json}}</pre>
</div>

<hr><br>

<!-- FormGroup FormArray -->
<div class="mt-1" style="border: 1px black solid;">
  <h1>reserve-Form---FormGroup</h1>
  <form [formGroup]="reserveInfoGroup" (submit)="formGroupSubmit()">
    <ul>
      <li>
        <div formGroupName="name">
          Name:
          <input formControlName="firstName" type="text">
          <input formControlName="lastName" type="text">
        </div>
      </li>
      <li>
        Gender:
        <input formControlName="gender" type="radio" value="1" name="gender" id="male">
        <label for="male">Male</label>
        <input formControlName="gender" type="radio" value="2" name="gender" id="female">
        <label for="female">Female</label>
      </li>
      <li>PWD: <input formControlName="password" type="password"></li>
      <li>Mail: <input formControlName="email" type="text"></li>
      <li>
        City:
        <select formControlName="city" name="" id="">
          <option *ngFor="let city of cityList" [value]="city">{{city}}</option>
        </select>
      </li>
      <li>
        Hobby:
        <div formArrayName="hobbies" *ngFor="let item of hobby.controls; let i = index">
          <label>
            <input [formControlName]="i" type="checkbox" [id]="hobbies[i].key">{{hobbies[i].value}}
          </label>
        </div>
      </li>
      <li>
        Contract:
        <div formArrayName="contract">
          <!-- formGroupName 
            contracts:{
              controls:[0: FormGroup, 1: FormGroup, 2: FormGroup],
              error: null,
              status: 'VALID'
          } -->
          <div *ngFor="let contract of contracts.controls; let i = index" [formGroupName]="i">
            <input formControlName="tel" type="text">
            <input formControlName="addr" type="text">
            <button (click)="removeContract(i)">delete</button>
          </div>
        </div>
      </li>
    </ul>
    <button (click)="addContract()">addContract</button>
    <button>formGroupSubmit</button>
    <br>
    <pre>{{reserveInfoGroup.value | json}}</pre>
  </form>
</div>